@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .navbar {
    scrollbar-width: thin;
    scrollbar-color: #0f0f0f #0f0f0f;
  }
  .navbar:hover {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) #0f0f0f;
  }
}
